<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkgo-Yy_4CLeR7a8zDxhs70TivrxBrvqg</string>
	<key>GCM_SENDER_ID</key>
	<string>119818098863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitchatappbymehdinathani.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chitchatappbymehdi</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchatappbymehdi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119818098863:ios:c0f2595200ef04e2711c5a</string>
</dict>
</plist>